# jupyter notebook files
*.ipynb
.ipynb_checkpoints/

# python
__pycache__/

# shell scripts
*.sh

# directories
figures/
miscellaneous/
precip_composite/
precip_rad_prof/
old_figure_scripts/
ps_rad_prof/
trajectories/
wind_rad_prof/
